.textBefore{
    position: relative;
}

.textBefore::before{
    content: 'experimente de graça';
    color: var(--color-first);
    font-size: 9px;
    position: absolute;
    font-weight: lighter;
    text-transform: uppercase;
    top: -8px;
    left: 25px;
    min-width: 200px;
}

